.mat-dialog-content{
  min-height: 50vh;
}
mat-form-field {
  width: 100%;
}

.metadato {
  width: 33%;
  min-height: 15vh;
}

textarea {
  min-height: 15vh;
}

mat-icon {
  top: 0 !important;
  color: #003c6d;
}

.medio {
  width: 50%;
}

.full-width {
  width: 100%;
}
