<!-- esat -->

<div *ngIf="data.templateModal==11">
  <app-ver-detalle-esat></app-ver-detalle-esat>
</div>
<div *ngIf="data.templateModal==12">
  <app-send-requ></app-send-requ>
</div>
<div *ngIf="data.templateModal==13">
  <app-revoke-lic></app-revoke-lic>
</div>
<div *ngIf="data.templateModal==14">
  <app-create-lic></app-create-lic>
</div>
<div *ngIf="data.templateModal==15">
  <app-assign-lic></app-assign-lic>
</div>
<div *ngIf="data.templateModal==16">
  <app-assign-dictio></app-assign-dictio>
</div>
<div *ngIf="data.templateModal==17">
 <app-buy-licence></app-buy-licence>
</div>
<div *ngIf="data.templateModal==18">
  <app-renew-lic></app-renew-lic>
</div>
<div *ngIf="data.templateModal==19">
  <app-delete-lic></app-delete-lic>
</div>

<!-- arbol -->
<div *ngIf="data.templateModal==21">
  <app-ver-detalle-tree></app-ver-detalle-tree>
</div>
<div *ngIf="data.templateModal==22">
  <app-new-dist></app-new-dist>
</div>
<div *ngIf="data.templateModal==23">
  <app-new-client></app-new-client>
</div>
<div *ngIf="data.templateModal==24">
  <app-new-local></app-new-local>
</div>
<div *ngIf="data.templateModal==25">
  <app-edit-node></app-edit-node>
</div>
<div *ngIf="data.templateModal==26">
  <app-move-node></app-move-node>
</div>
<div *ngIf="data.templateModal==27">
  <app-delete-node></app-delete-node>
</div>
<div *ngIf="data.templateModal==28">
  <app-edit-shop></app-edit-shop>
</div>
<div *ngIf="data.templateModal==29">
  <app-delete-shop></app-delete-shop>
</div>
<!-- usuarios -->
<div *ngIf="data.templateModal==31">
  <app-ver-detalle-usuarios></app-ver-detalle-usuarios>
</div>
<div *ngIf="data.templateModal==32">
  <app-send-inv></app-send-inv>
</div>
<div *ngIf="data.templateModal==33">
  <app-new-user></app-new-user>
</div>
<div *ngIf="data.templateModal==34">
  <app-edit-user></app-edit-user>
</div>
<div *ngIf="data.templateModal==35">
  <app-delete-user></app-delete-user>
</div>

