.mat-dialog-content {
  min-height: 25vh;
  padding: 16px 24px !important;
}

.ancho-completo {
  width: 100%;
}

.ancho-completo input {
  width: 90%;
  display: inline-block;
}

.ancho-completo mat-icon {
  display: inline-block;
  width: 10%;
}

mat-icon {
  font-size: 20px;
  width: 20px;
  top: 3px !important;

}

.lic {
  color: #003c6d;
  font-weight: bold;
}

.elipsis {
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.asig {
  font-size: 12px;
  color: #7fb390;
}

.sinasig {
  font-size: 12px;
  color: darkgray;
}

mat-list-item {
  height: 58px !important;
}
.smartphone {
  color: blue;
}

.smartphone svg {
  fill: blue;
}

.settings {
  color: green;
}

.settings svg {
  fill: green;
}
.vpn_key {
  color: #efb810;
}

.vpn_key svg {
  fill: #efb810;
}
.phonelink_setup {
  color: #f44336!important;
}

.phonelink_setup svg {
  fill: #f44336;
}
